@import "tailwindcss";

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: "Inter", sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(22px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}
